@use '../mixins/media-queries.scss' as *;


/*******************************************************
 *
 * 4. IP Styles
 *
 *******************************************************/
 .ip-banner {
    position: relative;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, .6);
    }

    canvas {
        display: block;
        position: relative;
        z-index: 0;
        width: 100%;
        min-height: 300px;
        background: rgba(0, 0, 0, 0.50);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        @include md{
            min-height: 210px;
        }

        @include lg{
            min-height: 270px;
        }
        

    }


    &--breadcrumbs{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 12;
        width: 100%;


        &--container{
            padding: 22px 24px;
            @include md{
                padding: 12px 40px;
            }
    
            @include lg{
    
            }
    
            @include xl{
                padding: 16px 85px ;
            }
        }


        span{
            color: #fff;
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 0.5px;
            text-transform: uppercase;

            @include lg{
                font-size: 12px;
                letter-spacing: 0.6px;
            }

            @include xl{
                font-size: 15px;
                letter-spacing: 0.75px;
            }
        }
    }
}


/* Inner Page */
#inner-page-wrapper{
    .inner-page-container{
        padding: 35px 20px;

        @include md{
            padding: 35px  40px;
        }
        @include lg{
        
        }

        @include xl{
            padding: 60px 85px;
        }
    }
}

/* Adjust minimum height of page area */
#content-sidebar,
#content-full {
    min-height: 500px;
    width: 100%;

    .entry{
        
    }
}

/** Adjust width of content columns **/

#content-full,
#content-sidebar {
    #content{
        width: 100%;
    }
}

/* Adjust width of sidebar */
.sidebar {
    width: 100%;
}

/* fullwidth template */
.page-template-template-fullwidth {
    #content {
        padding-left: 15px;
        padding-right: 15px;

        ihf-search[data-eureka-id*=""].ihf-eureka {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}



/* Adjust line height of page elements */

#content {
    h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu {
        line-height: 1.6;
    }
}
aside {
    h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu { 
        line-height: 1.6;
    }
}


/* Style .entry-title(post/page) and .archive-title(category/archive/etc) main headings (h1) */
#content{
    p,
    li{
        line-height: 1.8;
        letter-spacing: 0.7px;
    }
    .entry-title,
    .archive-title{
        font-size: 40px;
        line-height: 1;
        text-transform: uppercase;
        padding: 0 0 24px 0;

        @include md{
            font-size: 52px;
        }

        @include lg{

        }

        @include xl{
            font-size: 65px;
        }
    }
    .archive-subtitle {

    }


    #aios-roadmaps-equinox{
        .aios-roadmaps-equinox{
            .aios-roadmaps-pagination{
                padding: 40px 0 0;
                a{
                    max-width: 100%;
                    border-radius: 0;
                }
            }
        }
    }
}


/** AIOS Testimonials **/

.post-page-testimonials{
    .aiosTestimonialsEquinox {
        
        &__list{

            a{
                border-radius: 0;
                color: inherit;

                @include md{
                    padding: 50px 46px;
                }

                @include lg{
                    padding: 50px 60px;
                }

                @include xl{
                    padding: 60px 50px;
                }
            }
        }

        &__content{
            
            h3{
                color: inherit;
                font-size: 16px;
                color: #767676;
                font-family: var(--font-family-title);

            }
            &--text{
                overflow: hidden;
                -webkit-line-clamp: 6;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                padding: 0;
                margin: 13px 0 28px;
                line-height: 1.8;
                font-size: 14px;
                letter-spacing: 0.7px;

                @include md{
                    -webkit-line-clamp: 3;
                    margin: 13px 18px;
                }

                @include lg{
                    -webkit-line-clamp: 5;
                }

                @include xl{
                    -webkit-line-clamp: 4;
                    margin: 23px 0 19px;
                }
            }
        }

    }

    #content{
        .archive-title{
            text-align: center;
        }
    }

    .aiosp-wrap{

        .aiosp-content{

            &.aios-popup-body{

                width: 100%;
                max-width: 623px;
                padding: 60px 24px 50px 24px;
        
                .aiosTestimonialsEquinox {
        
                    &__content{
                        
                        &--text{
                            margin: 24px 0;
                            overflow: visible;
                            text-overflow: inherit;
                            -webkit-box-orient: unset;
                            display: block;
                        }
                    }
                }
            }

        }
    }
}
/* Roadmaps */
